<div class="dialog">
    <div class="dialog-background"></div>
    <div class="dialog-content">
        <div class="content">{{model.message}}</div>
        <div  
         [ngClass]='{
             "right": model.mode == dialogMode.ALERT,
             "center": model.mode == dialogMode.WARNING,
             "hidden": model.mode == dialogMode.INFO,
             "buttons": true 
         }'>
            <input (click)='model.onCancelEvent()' type="submit" value="anuluj" id="cancel-button" [hidden]='model.mode != dialogMode.ALERT'>
            <input (click)='model.onOkEvent()' type='submit' value="ok" id="ok-button">
        </div>
    </div>
</div>>
