<div class="dialog">
    <div class="dialog-background"></div>
    <div class="dialog-content">
        <div class="content">{{model.message}}</div>
        <div  
         [ngClass]='{
             "dialog-right": model.mode == dialogMode.ALERT,
             "dialog-center": model.mode == dialogMode.WARNING,
             "dialog-hidden": model.mode == dialogMode.INFO,
             "buttons": true 
         }'>
            <button class="dialog-button" (click)='model.onCancelEvent()'id="cancel-button" [hidden]='model.mode != dialogMode.ALERT'>{{"common.cancel"|translate}}</button>
            <button class="dialog-button" (click)='model.onOkEvent()'id="ok-button"> {{"common.ok"|translate}}</button>
        </div>
    </div>
</div>>
