<!-- <div class="voting">
    <div *ngFor="let player of players" class="candidate">
        <input (click)="vote(player)" type="submit" value='{{player.nickname}}' class="button-item card inline"/>
        <span class="votes">{{player.votes}}</span>
    </div>
</div>

   -->
<div _ngcontent-rom-c22="" class="voting"><div _ngcontent-rom-c22="" class="candidate"><input _ngcontent-rom-c22="" type="submit" class="button-item card inline" value="g3"><span _ngcontent-rom-c22="" class="votes">0</span></div><div _ngcontent-rom-c22="" class="candidate"><input _ngcontent-rom-c22="" type="submit" class="button-item card inline" value="g1"><span _ngcontent-rom-c22="" class="votes">1</span></div><div _ngcontent-rom-c22="" class="candidate"><input _ngcontent-rom-c22="" type="submit" class="button-item card inline" value="g4"><span _ngcontent-rom-c22="" class="votes">1</span></div><!--bindings={
    "ng-reflect-ng-for-of": "[object Object],[object Object"
  }--></div>
