<button (click)="eventsManager.sendJoinRed()">Czerwieni</button>
<button (click)="eventsManager.sendJoinBlue()">Zieleni</button>

<div id="tables">

    <table id="red_table" class="players_table"> 
        <tr>
            <th>Czerwieni ({{countRed()}})</th>
        </tr>
        <tr *ngFor="let player of model.getPlayers(teams.RED)">
            <td>{{player.nickname}}
                <span *ngIf="player.ready">V</span>
            </td>
        </tr>
    </table>

    <table id="blue_table" class="players_table">
        <tr>
            <th>Zieleni ({{countBlue()}})</th>
        </tr>
        <tr *ngFor="let player of model.getPlayers(teams.BLUE)">
            <td>{{player.nickname}}
                <span *ngIf="player.ready">V</span>
            </td>
        </tr>
    </table>
  
  
    <table id="observer_table" class="players_table">
        <tr>
            <th>Nieprzydzieleni ({{countObserver()}})</th>
        </tr>
        <tr *ngFor="let player of model.getPlayers(teams.OBSERVER)">
            <td>{{player.nickname}}
                <span *ngIf="player.ready">V</span>
            </td>
        </tr>
    </table>
</div>
<button (click)="eventsManager.sendReady()">Gotowy</button>

