@import '../../styles.css';

.gamer_information{
  width: 100%;
  margin-bottom: 30px;
}

#gamer{
  width: 100%;
}
#team{
  width: 100%;
}

#lobby{
  margin-left: auto;
  margin-right: auto;
  /*background-color: blue;*/
  display: flex;
  width: 80%;

}

.table_container{
  /* display: inline; */
  background-color: beige;
  /* display: flex; */
  min-height: 400px;
  width: 30%;
  margin: auto;
  border-radius: 12px;
  border: 1px solid black;

}

.header_container{
  padding-left: 10px;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#blue_header{
  background: deepskyblue;
  width: 100%;
}

#red_header{
  background: #bd0000;
  width: 100%;
}

#observer_header{
  background: darkgrey;
  width: 100%;
}

.players_table{
    display: block;
    /*background-color: aqua;*/
    width: 100%;
    height: 40%;
  padding-left: 10px;
  /*padding: 20px;*/
}

#blue_table{
  background: lightskyblue;
  /*width: 100%;*/
  /*float: left;*/
}

#red_table{
  background: red;
  /*width: 100%;*/
  /*float: right;*/
}

#observer_table{
  background: lightgrey;
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  /*width: 100%;*/
}



.team_button{
    display: block;
}


.buttons{
    display: flex;
  margin: auto;
    width: 80%;
    text-align: center;
    align-items: center;
    align-self: center;
}

.single_button{
  width: 30%;
  margin: auto;
}

#ready-button{
  margin: auto;
  margin-top: 5px;
}

.unready{
    background-color: red;
}

.ready{
    background-color:green;
}

.current_player{
  font-weight: 800;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
}

#dialog-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: aquamarine;
}

.not-min-players{
  color: red;

}

.players-number{
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
  font-weight: 700;
  float: right;
  margin-right: 4px;
}

.selected-table{
  border: 2px solid yellow;
}
