<h3>Wybór drużyny</h3>

<div class="gamer_information">
  <div id="gamer">Gracz: {{getNickname()}} </div>
  <div id="team">Wybrana drużyna: {{getTeam()=="BLUE"?"Zieleni":"Czerwieni"}}</div>
</div>

<div id="lobby">
  <div id="blue_table" class="table_container">
    <div id="blue_header" class="header_container">
      Zieleni
      <span [ngClass]='{"not-min-players":countBlue()<model.getMinPlayersInTeam()}'>
                    ({{countBlue()}}/{{model.getMaxPlayersInTeam()}})
                </span>
    </div>
    <table  class="players_table">
      <tr *ngFor="let player of model.getPlayers(team.BLUE)">
        <td [ngClass]="{
                'current_player': model.isClientPlayer(player)
            }">
          {{player.nickname}}
          <span *ngIf="player.ready" >V</span>
        </td>
      </tr>
    </table>
  </div>

  <div id="observer_table" class="table_container" >
    <div id="observer_header" class="header_container">
      Nieprzydzieleni ({{countObserver()}})
    </div>
    <table class="players_table">
      <tr *ngFor="let player of model.getPlayers(team.LACK)">
        <td [ngClass]="{
                'current_player': model.isClientPlayer(player)
            }">
          {{player.nickname}}
          <span *ngIf="player.ready">V</span>
        </td>
      </tr>
    </table>
  </div>

  <div id="red_table" class="table_container">
    <div id="red_header" class="header_container">
      Czerwieni
      <span [ngClass]='{"not-min-players":countRed()<model.getMinPlayersInTeam()}'>
                    ({{countRed()}}/{{model.getMaxPlayersInTeam()}})
                </span>
    </div>
    <table class="players_table">
      <tr *ngFor="let player of model.getPlayers(team.RED)">
        <td [ngClass]="{
                'current_player': model.isClientPlayer(player)
            }">
          {{player.nickname}}
          <span *ngIf="player.ready">V</span>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="buttons">
  <div class="single_button"><button class="button_white" (click)="eventsManager.sendJoinBlue()"  [hidden]="!canJoinToBlue()">Zieleni</button></div>
  <div class="single_button"><button class="button_white" (click)="eventsManager.sendAutoJoinToTeam()"  [disabled]="!canJoinToBlue() && !canJoinToRed()">Automatycznie</button></div>
  <div class="single_button"><button class="button_white" (click)="eventsManager.sendJoinRed()"  [hidden]="!canJoinToRed()">Czerwieni</button></div>
</div>

<div class="buttons">
  <button class="button_white" (click)="eventsManager.sendReady()" id="ready-button"
          [ngClass]="{
        'ready': !isPlayerReady(),
        'unready': isPlayerReady()
    }"
          [disabled]="!canSetReady()">
    {{isPlayerReady()?"Nie gotowy": "Gotowy"}}
  </button>
</div>
