@import '../../styles.css';

.players_table{
    display: block;
    background-color: aqua;
    width: 100%;
    height: 50%;
}

.table_container{
    /* display: inline; */
    background-color: beige;
    /* display: flex; */
    min-height: 500px;
    /* width: 100%; */
}

.team_button{
    display: block;
}

#lobby{
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    display: flex;
    width: 80%;
}

.buttons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;;
    width: 20%;
    text-align: center;
    align-items: center;
    align-self: center;
}

#ready-button{
    margin-top: 2em;
    font-size: 1.3em;
    
}
