<div class="summary">
    <div class="info-conainer">
        <div class="winner">
            Wygrali : {{model.winner == team.BLUE? 'Zieleni': 'Czerwieni'}}
        </div>
        <div [ngSwitch]="model.cause" class="couse">
            <div *ngSwitchCase="cause.KILLER">
              Odkryto zabójcę
            </div>
            <div *ngSwitchCase="cause.ALL_FOUND">
              Znaleziono wszystkie hasła
            </div>
            <div *ngSwitchCase="cause.QUIT">
              Gracz opuścił grę
            </div>
            <div *ngSwitchDefault>
              Powód nieznany
            </div>
        </div>
        <div class="statistics"> 
            <p>Czerwieni - punkty: {{model.redPoints}}</p>
            <p>Czerwieni - pozostało: {{model.redRemaining}}</p>
            <p>Zieleni - punkty: {{model.bluePoints}}</p>
            <p>Zieleni - pozostało: {{model.blueRemaining}}</p>
        </div>
    </div>

    <div class="board grid">
        <div *ngFor='let card of model.cards' 
            [ngClass]="{
              'blue': card.color == color.BLUE,
              'red': card.color == color.RED,
              'neutral': card.color == color.NEUTRAL,
              'killer':card.color == color.KILLER,
              'lack': card.color == color.LACK,
              'card ' :true}" 
              >
              <span [style.visibility]="card.question == null ? 'hidden':'visible'" 
                [ngClass]="{
                    'blue': card.team == team.BLUE,
                    'red': card.team == team.RED,
                    'team-color':true
                }"
                >
              </span>
              <span class="word"> {{card.word}} </span>
        </div>
    </div>

    <div class="game-statistics">
        Przebieg gry:
        <ol class= 'entry'>
            <li *ngFor="let entry of model.processEntries" 
            [ngClass]="{
                'blue-entry': isBlue(entry),
                'red-entry': isRed(entry)
            }">
                <span>{{entry.question}}: {{entry.number}}</span>;
                <span *ngFor="let answer of entry.answers" 
                [ngClass] ='{
                    "red-answer": answer.color == color.RED,
                    "blue-answer": answer.color == color.BLUE,
                    "killer-answer": answer.color == color.KILLER,
                    "neutral-answer": answer.color == color.NEUTRAL
                }'>{{answer.word}}, </span>
            </li>
        </ol>
    </div>
    <input type="submit" value="Zamknij" (click)='backToMenu()' />
</div>
