@import "../../styles.css";

.voting{
    align-items: center;
    display: block;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.votes{
    display: inline-block;
    position: relative;
    margin-left: 10%;
    transition: all 0.3s ease-out;
}

.inline:hover ~ .votes{
    margin-left: 30%;
    font-size: 1.6em;
    font-weight: bold;
  background: #bd0000;
}


.inline{
    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    position: sticky;
    width: 50%;

  border: none;
  box-shadow: none;
  height: 2em;
}

.selected{
    font-weight: bold;
  border-radius: 12px;
  border: red 3px solid;

}

.selection_button{
  border-radius: 12px;
  /*border: none;*/
  background: none;
  /*border: white 3px solid;*/
  color: white;
  font-size: 23px;
  text-shadow: 2px 2px 5px black;
  text-align: left;
  width: 50%;
  line-height: 1;
  margin-top: 0.5em;
  padding: 0.5em 1em;
}

.selection_button:hover, .selection_button:focus {
  /*box-shadow: 0 0.5em 0.5em -0.4em grey;*/
  transform: translateY(-0.25em);
  /*border: white 3px solid;*/
}


.vote_table_header{
  margin: auto;
  width: 55%;
  height: 2em;
  display: block;
  align-items: center;
  background: blueviolet;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.vote_table_row{
  margin: auto;
  width: 55%;
  height: 10em;
  display: block;
  align-items: center;
  background: violet;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.gamer_column{
  width: 80%;
  float:left;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
}

.votes_column{
  padding-top: 5px;
  float:right;
  width: 20%;
}

#button_container{
  width: 15%;
  margin: auto;
}

