@import "../../styles.css";

.voting{
    align-items: center;
    display: block;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.votes{
    display: inline-block;
    position: relative;
    margin-left: 10%;
    transition: all 0.3s ease-out;
}

.inline:hover ~ .votes{
    margin-left: 30%;
    font-size: 1.6em;
    font-weight: bold;
  background: #bd0000;
}


.inline{
    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    position: sticky;
    width: 50%;

  border: none;
  box-shadow: none;
  height: 2em;
}

.selected{
  text-shadow: -1px 1px 0 red, 1px 1px 0 red, 1px -1px 0 red, -1px -1px 0 red !important;
  font-weight: 700;
}

.client-player{
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
  font-weight: 700;
}

.selection_button{
  color: black;
  font-size: 1em;
  text-align: left;
}

.timer{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
}

.end-timer{
  color:red;
}

.vote_table_header{
  margin: auto;
  width: 55%;
  height: 2em;
  display: block;
  align-items: center;
  background: blueviolet;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-top: 5%;
}

.vote_table_row{
  margin: auto;
  width: 55%;
  height: 10em;
  display: block;
  align-items: center;
  background: violet;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.gamer_column{
  width: 75%;
  float: left;
  padding-left: 10px;
}

.votes_column{
  float: right;
  width: 20%;
  text-align: center;
}

#button_container{
  width: 15%;
  margin: auto;
}

