

<h3>{{"voting.title"|translate}}</h3>

{{"voting.player"|translate}}: {{getNickname()}}

<div id="timer">
  {{model.getTimeFormat()}}
</div>

<div class="vote_table_header">
  <div class="gamer_column">{{"voting.player_name"|translate}}</div>
  <div class="votes_column">{{"voting.votes"|translate}}</div>
</div>

<div class="vote_table_row">
  <div *ngFor="let player of model.getPlayers()" class="candidate">
    <button class="gamer_column" (click)="eventManager.sendVote(player)" type="submit" value='{{player.nickname}}'
           [ngClass]="{
           'selected': isSelected(player),
            'inline selection_button': true}">
      {{player.nickname}}
    </button>

    <span class="votes_column" >{{player.votes.length}}</span>
  </div>
</div>
