<div>Drużyna: {{getClientTeam()}}</div>
<div>Rola: {{getClientRole()}}</div>
<div>{{model.currentTeam}} - {{model.currentStage}}</div>
<div>Czerwieni pozostało: {{model.remainingRed}}</div>
<div>Zieleni pozostało: {{model.remainingBlue}} </div>
<div>Aktualne hasło: {{model.currentWord}}</div>
<div>Pozostałe słowa do odgadnięcia {{model.remainingAnswers}}</div>

<div *ngIf="isBoss()">
  <input id="wordInput" (keyup)="preventSpace()" (keydown)="preventSpace()"/>
  <input id="numberInput" type="number" value=1 min=1 max=9/>
  <input (click)="sendBossMessage()" type="submit" value="Wyślij hasło"/>
</div>
<div class="grid">
  <!-- <div *ngFor="let word of words" class="card">
    {{word}}
  </div> -->
  <div *ngFor='let card of model.cards' class="card {{card.color}}" >
    <!-- <span>{{card.answers.length}}</span> -->
    <span>{{card.answers}}</span>
    <input type="submit"  
    value={{card.word}} 
    id={{card.word}} 
    (click)="click(card.word)" (contextmenu)="setFlag(card.word)"/>
    <!-- <span>{{card.flags.length}}</span> -->
    <span>{{card.flags}}</span>
  </div>
</div>

  