@import '../../styles.css';

.game-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gamer_column{
  width:25%;
  float:left;
  text-align: left;
  font-size: 20px;
}

span.gamer_column{
  width: 100%;
}

.round_information_column{
  text-align: center;
  font-size: 30px;
  width: 75%;
}

#word_sign{
  font-size: 25px;
  text-align: center;
  width: 100%;
}

.game_head_row{
  width: 100%;
  height: 1em;
  display: block;
  align-items: center;
}

.table-container{
  transform-style: preserve-3d;
  transform: rotateX(25deg);
  /* background: radial-gradient(at bottom, #ffb77f, #b44c00); */

  border-radius: 12px;
  padding: 2vh;
  height: 100%;
  display: flex;
}

.table-container::before{
  content: "";
  position: absolute;
  background-image: url('/assets/table.jpg');
  background-size: 100% 50%;
  background-repeat-x: no-repeat;
  background-position: center;
  height: 100%;
  width: 150%;
  left: -25%;
  filter: saturate(2);
}

#table{
  align-items: center;
  text-align: center;
  perspective: 800px;
  height: 100%;
  width: 100%;
  position: center;
  margin:auto;
}

.board-extra{
  align-self: center;
  margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    transform-style: preserve-3d;
    height: 100%;
}

.board{
  width: 100%;
  height: 70%;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.remaining-card{
  position: absolute;
    display: flex;
    padding: 0 16px;
    box-sizing: border-box;
    box-shadow: 0 0 10px black;
    border-radius: 6px;
    transition: inherit;
    --offset-multiplier: 3px;
    width: 1.5em;
    height: 2em;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.remaining-card::after{
  content: " ";
  background-image: url(/assets/card2.png);
  width: 100%;
  height: 100%;
  position: absolute;
}

.left-stack{
  --translate: calc(var(--offset) * var(--offset-multiplier));
  transform: translate(var(--translate), var(--translate));
}

.right-stack{
  --translate: calc(var(--offset) * var(--offset-multiplier) * (-1));
  transform: translate(var(--translate), var(--translateY));
  --translateY: calc(-1* var(--offset) * var(--offset-multiplier) * (-1));
}

.points:nth-child(n){
  --offset: n;
}

.my_answer{
  border: 3px inset gold;
}

.my_flag{
  /* border: 3px inset blue; */
}

.my_flag::before{
  border: 3px inset blue;
}

.click_amount{

  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  position: absolute;
  font-size: 0.7em;

}

.flags{
  background-color: darkorchid;
  right: 5px;
  top: 5px;
}

.answers{
  background-color:darkgoldenrod;
  bottom: 5px;
  left: 5px;
}

#answers{
  background-color:darkgoldenrod;
  width: 1.3em;
  height: 1.3em;
  margin-left: 0.3em;
  float: left;
}

.word{
  margin-left: auto;
  margin-right: auto;
  font-weight: 450;
}



.team-info{
  width: 25%;
  margin-top: 5%;
  align-items: stretch;
  font-size: 1vw;
  align-self: stretch;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.team-players{
  margin-top: 50%;
  font-size: large;
}


.game_container{
  display: flex;
  transform-style: preserve-3d;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.team-name{
  font-size: x-large;
}

.points{
  width: 5vw;
  height: 5vw;
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 3em;
  --offset-multiplier: 4px;
}

.word_container{
  font-size: 60px;
  font-weight: bold;
}

.players{
  display: flex;
}

.player-role{
  width: 15px;
  height: 15px;
  display: inline;
  float: left;
}

.player-name{
  display: inline;
  text-align: left;
  margin-left: 10px;
  width: 100% ;
}

.player-answer{
  width: 15px;
  height: 15px;
  display: inline;
  float: right;
}

.current-player{
  text-shadow: 0 0 10px green;
  border: 1px solid green;
}

.pass-button{
  width: 200px;
}

.table-background{
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}
