<div class="game_head_row">
  <div class="gamer_column">
    <span class="gamer_column">Gracz: {{getNickname()}}</span>
    <span class="gamer_column">Drużyna: {{getTeam()=="BLUE"?"Zieleni":"Czerwieni"}}</span>
    <span class="gamer_column">Funkcja: {{getRole()=="BOSS"?"Szeff":"Zgadywacz"}}</span>
  </div>

  <div class="round_information_column">

    <div class="current_state">
      Tura
      <span id="current_stage" class="state_element">
        {{model.currentStage==role.BOSS?"Szeffa":"Zgadywacza"}}
      </span>
      <span id="current_team" class="state_element">
        {{model.currentTeam==team.BLUE?"Zielenich":"Czerwienich"}}
      </span>
    </div>

    <div id="word_sign">Hasło:</div>
    <div class="word_container">
      <span id="word" class="word_element">{{model.currentWord}} </span>
      <span id="number" class="word_element">{{model.remainingAnswers}}</span>
    </div>
  </div>

</div>



<div id="table">
  <div class="table-container">
    <div class="game_container">
      <span id="first_team">
        <div [ngClass]="{
          'current_team':  model.currentTeam == getClientTeam(),
          'blue_team': getClientTeam()==team.BLUE,
          'red_team':getClientTeam()==team.RED
          }">{{getClientTeam()==team.BLUE ?'Zieleni' : 'Czerwieni'}}</div>
        <div class="points">
            {{getClientTeam()==team.BLUE ? model.remainingBlue: model.remainingRed}}
        </div>

        <div class="first-team-players">
            Gracze
            <div *ngFor="let player of this.getFirstTeamPlayers()" class="players"
              [ngClass] = "{
                'current-player': isCurrentPlayer(player),
                'players': true
              }"
            >
              <div [ngClass]="{
                'boss-icon': isPlayerBoss(player),
                'quessing-icon': !isPlayerBoss(player),
                'game-icon':true
              }"></div>
              <div class="player-name">{{player.nickname}}</div>
              <div class="game-icon answer-icon" [style.visibility]="isPlayerAnswer(player) ? 'visible':'hidden'"></div>
              <span></span>
            </div>
        </div>
      </span>

      <div class="board grid">

          <div *ngFor='let card of model.getCards()'
          [ngClass]="{
            'my_answer': isAnswerByClient(card),
            'my_flag':isFlagByClient(card) && !isAnswerByClient(card),
            'blue': card.color.toString()=='BLUE',
            'red': card.color.toString()=='RED',
            'neutral': card.color.toString()=='NEUTRAL',
            'killer':card.color.toString()=='KILLER',
            'lack': card.color.toString()=='LACK',
            'card ' :true}"
            (click)="eventsManager.sendClick(card.id)" (contextmenu)="eventsManager.sendFlag(card.id)">
            <span [style.visibility]="card.answers.length == 0 ? 'hidden':'visible'"
              class="click_amount" id="answers"
              tooltip={{tooltip.getTooltipText(card.answers)}} [options]="tooltip.getTooltipOptions(card.answers)">{{card.answers.length}}
            </span>
            <span [hidden]="isWordHidden(card)" class="word"> {{card.word}} </span>

            <span [style.visibility]="card.flags.length == 0 ? 'hidden':'visible'"
              class="click_amount" id="flags"
              tooltip={{tooltip.getTooltipText(card.flags)}} [options]="tooltip.getTooltipOptions(card.flags)">{{card.flags.length}}
            </span>
          </div>

      </div>


      <span id="second_team">
        <div [ngClass]="{
          'current_team':  model.currentTeam == getClientTeam(),
          'blue_team': getClientTeam()==team.BLUE,
          'red_team':getClientTeam()==team.RED
          }">{{getClientTeam()==team.BLUE ? 'Czerwieni' : 'Zieleni'}}</div>
        <div class="points">
          {{getClientTeam()==team.BLUE ? model.remainingRed: model.remainingBlue}}
        </div>

        <div class="team-players">
          Gracze
          <div *ngFor="let player of this.getSecondTeamPlayers()" class="players"
            [ngClass] = "{
              'current-player': isCurrentPlayer(player),
              'players': true
            }"
          >
            <div *ngFor="let player of this.getFirstTeamPlayers()" class="players" 
            [ngClass] = "{
              'current-player': isCurrentPlayer(player),
              'players': true
            }"  
            ></div>
            <div [ngClass]="{
              'boss-icon': isPlayerBoss(player),
              'quessing-icon': !isPlayerBoss(player),
              'game-icon':true
            }"></div>
            <div class="player-name">{{player.nickname}}</div>
            <div class="game-icon answer-icon" [style.visibility]="isPlayerAnswer(player) ? 'visible':'hidden'"></div>          
          </div>
        </div>
      </span>
    </div>


    <div *ngIf="isBoss()">
      <input id="wordInput" (keydown)="preventWhispace($event)" [disabled]='!isPlayerTurn()' (keyup.enter)="eventsManager.sendBossMessage()"/>
      <input id="numberInput" type="number" value=1 min=1 max="{{getRemainingWordsInPlayerTeam()}}" [disabled]='!isPlayerTurn() ' (keyup.enter)="eventsManager.sendBossMessage()"/>
      <input (click)="eventsManager.sendBossMessage()" type="submit" value="Wyślij hasło" [disabled]='!isPlayerTurn()'/>
    </div>
    <div *ngIf="!isBoss()">
      <!-- Dla uproszczenia deklarujemy zmienną. Do tego celu korzystamy z ngId -->
      <div  *ngIf="model.getPassCard() as card"
          [ngClass]="{
            'my_answer': isAnswerByClient(card),
            'card ' :true,
            'pass-button':true}"
            (click)="eventsManager.sendClick(card.id)">
            <span [style.visibility]="card.answers.length == 0 ? 'hidden':'visible'"
              class="click_amount" id="answers"
              tooltip={{tooltip.getTooltipText(card.answers)}} [options]="tooltip.getTooltipOptions(card.answers)">{{card.answers.length}}
            </span>
            <span class="word"> Pomiń </span>
          </div>
    </div>
    <div id="player_info">
      <span> {{getNickname()}} </span>
      <span> {{getClientTeam()==team.BLUE?"Zieleni":"Czerwieni"}} </span>
      <span> {{getClientRole()==role.BOSS?"Szeff":"Zgadywacz"}} </span>
    </div>
  </div>



</div>

