@import '../../styles.css';

.gamer_column{
  width:25%;
  float:left;
  text-align: left;
  font-size: 20px;
}

span.gamer_column{
  width: 100%;
}

.round_information_column{
  text-align: center;
  font-size: 30px;
  width: 75%;
}

#word_sign{
  font-size: 25px;
  text-align: center;
  width: 100%;
}

.game_head_row{
  width: 100%;
  height: 1em;
  display: block;
  align-items: center;
}

.table-container{
  transform-style: preserve-3d;
  transform: rotateX(35deg);
  background: #bd0000;
}

#table{
  align-items: center;
  text-align: center;
  margin-left: 10%;
  margin-right:10%;
  perspective: 800px;
  width:80%;
  position: center;
  margin:auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    transform-style: preserve-3d;
}

.card:hover{
  transition:.6s;
  transform: translateZ(25px) rotateX(-35deg);
  box-shadow: 0 0 20px black;
  cursor: pointer;
}

.my_answer{
  border: 3px inset gold;
}

.my_flag{
  border: 3px inset blue;
}

.click_amount{
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

#answers{
  background-color:darkgoldenrod;
  width: 1.3em;
  height: 1.3em;
  margin-left: 0.3em;
  float: left;
}

#flags{
  background-color:darkorchid;
  width: 1.3em;
  height: 1.3em;
  margin-right: 0.3em;
  float: right;
}

.word{
  margin-left: auto;
  margin-right: auto;
}

.board{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}


#first_team{
  width:18%;
  margin-top:3em;
  align-items: stretch;
}

#second_team{
  width:18%;
  margin-top: 3em;
  align-items: stretch;
}


.game_container{
  display: flex;
  margin-top: 5vw;
  margin-bottom: 5vw;
  transform-style: preserve-3d;
}

.points{
  width: 5vw;
  height: 5vw;
  border: black 1px solid;
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 3em;
}

.word_container{
  font-size: 60px;
  font-weight: bold;
}

.players{
  display: flex;
}

.boss-icon{
  background: url('../../assets/boss-icon.png');
}

.quessing-icon{
  background: url('../../assets/player-icon.png');
}

.player-icon{
  width: 15px;
  height: 15px;
  display: inline;
  float: left;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover
}

.game-icon{
  width: 15px;
  height: 15px;
  display: inline;
  float: left;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover
}

.player-name{
  display: inline;
  text-align: left;
  margin-left: 10px;
  width: 100% ;
}

.answer-icon{
  background: url('../../assets/check.png');
}

.current-player{
  text-shadow: 0 0 10px green;
  border: 1px solid green;
}

.pass-button{
  width: 200px;
}