<div id="logo1">Tajniaki</div>

<div class="form_row">
  <div class="name_column">Nazwa gracza: </div>
  <div [hidden]="nickname_editing">

    <span class="value_column" id="nickname">{{getNickname()}}</span>
    <div class="button_column">
      <button class=" button_white" type="submit" (click)="setChangeNicknameState()">Zmień</button>
    </div>
  </div>
  <div [hidden]="!nickname_editing">
    <input id="nickname_input" class="value_column" (keydown)="nicknameKeydown($event)"/>
    <div class="button_column">
      <button class="button_white" type="submit" (click)="confirmNickname()">Zmień</button>
    </div>
  </div>
</div>

<div class="form_row">
  <div class="name_column">Status połączenia: </div>
  <div [hidden]="!isConnected()">
    <span class="value_column" id="conected">Połączono</span>
  </div>
  <div [hidden]="isConnected()">
    <span class="value_column" id="disconected">Nie połączono</span>
    <div class="button_column">
      <button class="button_white" type="submit" (click) ="connect() ">Połącz</button>
    </div>
  </div>
</div>

<div id="table">
  <div class="table-container">
    <div class="game_container">
      <div class="ready-div">
        <button type="submit"  (click)="sendCheckPossibleGame()" *ngIf="isConnected()" class="card lack">Rozpocznij</button>
      </div>

    </div>
  </div>
</div>


<!--<div id="menu">-->

<!--        <div id="menu_entries">-->
<!--            <input type="submit" value="Rozpocznij" (click)="sendCheckPossibleGame()" *ngIf="isConnected()" class="button-item card"/>-->
<!--        </div>-->
<!--&lt;!&ndash;  <input type="submit" value="Gra" (click)="startGame()"  class="button_white"/>&ndash;&gt;-->

<!--        <input type="submit" value="Gra" (click)="startGame()"  class="button-item card"/>-->
<!--        <input type="submit" value="Głosowanie" (click)="startVoting()" class="button-item card" />-->
<!--        <input type='submit' value="Posumowanie" (click)="startSummary()" class="button-item card" />-->
<!--        <input type='submit' value="Drużyny" (click)="startLobby()" class="button-item card" />-->

<!--</div>-->
