<div id="logo1">{{'menu.title'|translate}}</div>

<div class="form_row">
  <div class="name_column">{{"menu.nickname"| translate}}</div>
  <div [hidden]="nickname_editing">

    <span class="value_column" id="nickname">{{getNickname()}}</span>
    <div class="button_column">
      <button class=" button_white" type="submit" (click)="setChangeNicknameState()">{{"common.change"|translate}}</button>
    </div>
  </div>
  <div [hidden]="!nickname_editing">
    <input id="nickname_input" class="value_column" (keydown)="nicknameKeydown($event)"/>
    <div class="button_column">
      <button class="button_white" type="submit" (click)="confirmNickname()">{{"common.change"|translate}}</button>
    </div>
  </div>
</div>

<div class="form_row">
  <div class="name_column">{{"menu.connection_state"|translate}}</div>
  <div [hidden]="!isConnected()">
    <span class="value_column" id="conected">{{"menu.connected"|translate}}</span>
  </div>
  <div [hidden]="isConnected()">
    <span class="value_column" id="disconected">{{"menu.not_connected"|translate}}</span>
    <div class="button_column">
      <button class="button_white" type="submit" (click) ="connect() ">{{"menu.connect"|translate}}</button>
    </div>
  </div>
</div>
<button (click)="test()">
  Naciśnij mnie
</button>
<!--<div id="menu">-->

<!--  <div id="menu_entries">-->
<!--    <button class="button-item card" (click)="startLobby()" *ngIf="isConnected()">{{"menu.start"|translate}}</button>-->
<!--  </div>-->
 <input type="submit" value="Gra" (click)="startGame()" class="button-item card"/>
<!--  <input type="submit" value="Głosowanie" (click)="startVoting()" class="button-item card" />-->
<!--  <input type='submit' value="Posumowanie" (click)="startSummary()" class="button-item card" />-->
<!--  <input type='submit' value="Drużyny" (click)="startLobby()" class="button-item card" />-->

<!--</div>-->

<div id="table">
  <div class="table-container">
    <div class="game_container">
      <div class="ready-div">
        <button type="submit"  (click)="start()" *ngIf="isConnected()" class="card lack">{{"menu.start"|translate}}</button>
      </div>

    </div>
  </div>
</div>
