/* You can add global styles to this file, and also import other style files */

.option-button{
  border-radius: 12px;
  border-radius: 12px;
  padding: 5px 10px 5px 10px;
  background-image: url(/assets/card2.png);
  font-weight: 420;
  font-size: min(1em, 20px);
  transition: 0.3s;
  margin:5px;
  border: 1px solid black;
}

.option-button:focus{
  outline: 0;
  outline-style: none;
  outline-width: 0;
}

.option-button:hover{
  /* background-color: coral; */
  filter: brightness(0.8);
}

.option-label{
  font-size:min(1em, 25px);
}

.card{
  border: 1px solid black;
  border-radius: 12px;
  border-width: 1px 1.5px 2px 1px;
  transition: 0.25s ease-in-out;
  font-size: 1em;
  color: black;
  overflow: hidden;
  text-align: center;
}

.card-container{

  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card-container::after{
  background-image: url(/assets/card2.png);
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;

}

.card:hover{
    transform: rotate(-2deg) scale(1.3);
    border-width: 1px 2px 2px 1px;
    box-shadow: 0 0 10px black;
}


.card::after {
  display: block;
  content: '';
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 180%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
  border-radius: inherit;
  transform: translateY(0%);
  will-change: transform;
  transition: inherit;
  overflow: hidden;
}

.card:hover{
  transition:.6s;
  transform: translateZ(35px) rotateX(-35deg);
  box-shadow: 0 -5px 20px black;
  cursor: pointer;
}

.card:hover::after{
  transform: translateY(-40%);
}

.red {
    background-color: #bd0000;
}

.blue {
    background-color: #0088ff;
}

.killer {
    background-color: slategrey;
}

.neutral {
    background-color: #ffdb91;
}

.lack {
  /* background: linear-gradient(to bottom right, #af0000 0, #0070ff 100%); */
    /* background-color: aliceblue; */
  background-color: ghostwhite;

}

.button-item{
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 10em;
    height: 4em;
    transition: 0.25s ease-in-out;
}

.button-item:hover{
    background-color: darkgray;
}

body, html {
  height: 100%;
  margin: 0;

  color: black;
;
  /* font-size: 23px; */
  font-size: 1.5vw;
}

h3{
  text-align: center;
  margin: 20px;
}

.background{
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("backgroung.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center{
  background: rgba(240, 224, 255, 0.5);
  height: 100%;
  margin: auto;
  /* width: 70%; */
  padding: 10px;
}

/*.button_white{*/
/*  background-color: white;*/
/*  !*color: black;*!*/
/*  border: 2px solid white;*/
/*}*/

.button_white {
  border-radius: 12px;
  background: none;
  border: white 3px solid;
  /*margin: 3px;*/
  /*height: 29px;*/

  color: white;
  font-size: 23px;
  text-shadow: 2px 2px 5px black;

  /*box-shadow: 2px 2px 5px grey;*/

  font: inherit;
  line-height: 1;
  margin-top: 0.5em;
  /*margin: 0.5em;*/
  padding: 0.5em 1em;
}

.button_white:hover, .button_white:focus {
  box-shadow: 0 0.5em 0.5em -0.4em grey;
  transform: translateY(-0.25em);
}



