/* You can add global styles to this file, and also import other style files */

.card{
  border: 1px solid black;
  border-radius: 12px;
  /* border:solid 4px black; */
  /* border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; */
  /* border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%; */
  border-width: 1px 1.5px 2px 1px;
  /* border-radius:95% 4% 92% 5%/4% 95% 6% 95%; */
  height: 3em;
  text-align: center;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease-in-out;
  box-shadow: 0 0 5px black;

  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 5px black;
  width: 5em;
}

.card:hover{
    transform: rotate(-2deg) scale(1.3);
    border-width: 1px 2px 2px 1px;
    box-shadow: 0 0 10px black;
}

.red {
    background-color: #bd0000;
}

.blue {
    background-color: #0088ff;
}

.killer {
    background-color: slategrey;
}

.neutral {
    background-color: #ffdb91;
}

.lack {
  background: linear-gradient(to bottom right, #af0000 0, #0070ff 100%);
    background-color: aliceblue;
}

.button-item{
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 10em;
    height: 4em;
    transition: 0.25s ease-in-out;
}

.button-item:hover{
    background-color: darkgray;
}

body, html {
  height: 100%;
  margin: 0;

  color: white;
  font-size: 23px;
  text-shadow: 2px 2px 5px black;
}

h3{
  text-align: center;
  margin: 20px;
}

.background{
  background-image: url("backgroung.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center{
  background: rgba(240, 224, 255, 0.5);
  height: 100%;
  margin: auto;
  width: 70%;
  padding: 10px;
}

/* MENU */


